/gems-collections/bin/Debug
/gems-collections/obj/Debug
/gems-collections-test/bin/Debug
/gems-collections-test/obj/Debug
/gems-collections-test/bin/Release
/gems-collections-test/obj/Release
/gems-collections/bin/Release
/gems-collections/obj/Release
